__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

data/*.csv
data/*.duckdb
.dlt/

dbt_postgres_ecom/target/
dbt_postgres_ecom/dbt_packages/
dbt_postgres_ecom/logs/

.vscode/
.idea/
.DS_Store
Thumbs.db

# Internal roadmap files
future_tasks.md
